/* =========================== backdrop */
.backdropContainer {
  position: relative;
  width: 100%;
  /* height: auto; */
  display: inline-block;
}
.backdropContainer img {
  border-radius: 30px;
  width: 100%;
  display: block;
  z-index: 0;
}
.backdropFade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(to bottom, transparent, #191b1f);
  pointer-events: none;
  z-index: 1;
}
/* ================= tv,movie detail */
.detailContainer {
  position: relative;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 85vh;
  /* overflow: hidden; */
}
.detailContent {
  position: absolute;
  top: 15%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.contentPoster {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.middleContent {
  margin: 0 30px;
}
.middleContent h1 {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.smallText {
  font-size: 30px;
}
.normalText {
  font-size: 36px;
}
.yearContainer {
  display: flex;
  font-size: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.yearContainer div {
  margin-right: 10px;
}
.yearContainer i {
  margin: 0;
  font-size: 16px;
}
/* ================================= button */
.buttonContainer {
  display: flex;
}
.buttonContainer button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
}
.buttonContainer button:first-child {
  font-weight: 600;
  width: 170px;
  border-radius: 50px;
  height: 40px;
  font-size: 16px;
}
.buttonContainer button:last-child,
.buttonContainer button:nth-child(2) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191b1f;
  color: white;
  /* border: 1.5px solid #eee; */
}
.buttonContainer button i {
  margin: 0;
}
.buttonContainer button:first-child i {
  margin-left: 8px;
}
.buttonContainer button:first-child:hover {
  color: #d12f26;
  background-color: #191b1f;
  transition: background-color 0.3s ease;
}
.buttonContainer button:last-child:hover,
.buttonContainer button:nth-child(2):hover {
  color: #d12f26;
}

/* ========================= time and genres */
.timeAndGenres {
  font-weight: 600;
}
.row {
  display: grid;
  grid-template-columns: 170px 1fr;
  /* column-gap: 0px; */
  /* align-items: start; */
}

.detailContent p {
  margin-top: 14px;
}

/* ====================== cast */
.castContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  overflow: hidden;
  flex-shrink: 0;
}
.castContainer h1 {
  /* width: 100%; */
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
}
.castContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.castItem {
  margin: 14px 0;
  display: flex;
  font-size: 12px;
}
.castName {
  margin-left: 10px;
}

/* ========================similar contents */
.similarContainer {
  position: absolute;
  bottom: 0%;
  z-index: 3;
  width: 100%;
}
.similarContainer h2 {
  font-size: 20px;
  padding: 0;
  margin-left: 10px;
}
.similarList {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  /* padding: 20px; */
  border-radius: 10px;
  margin: 0 14px;
}
.similarList img {
  width: 200px;
  border-radius: 10px;
}
.similarItem {
  margin-right: 16px;
}
.similarSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.similarSlide button {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  background-color: #d12f26;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #eee;
  font-size: 12px;
}
.similarSlide button:first-child {
  position: absolute;
  left: 0;
}
.similarSlide button:last-child {
  position: absolute;
  right: 0;
}
.similarSlide:hover button {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

/* ====================trailer */
.trailerContainer {
  position: absolute;
  top: 5%;
}
.trailerContainer iframe {
  width: 660px;
  height: 340px;
}
.trailerButton {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0;
}
.noTrailer {
  background-color: #191b1f;
  width: 660px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  border-radius: 20px;
  font-size: 18px;
}
