.container {
  display: flex;
}

.nav,
.nav:visited {
  color: #eee;
  opacity: 0.5;
  text-decoration: none;
}

.activeTv,
.activeMovie {
  color: #eee;
  text-decoration: none;
}

.nav,
.activeTv,
.activeMovie {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0px 10px 18px;
}
