.container {
  /* width: 100%; */
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.posterImg {
  border-radius: 5px;
  width: 150px;
  height: 220px;
}

.tvsContainer {
  margin-top: 20px;
}
.posterYear {
  font-size: 12px;
  opacity: 0.8;
}
.posterName {
  font-weight: 600;
}
.posterBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posterIcon {
  display: flex;
  align-items: center;
}
.posterIcon {
  font-size: 14px;
}
.posterIcon i {
  font-size: 12px;
}
.posterIcon i:first-child {
  margin: 2px 2px 0 0;
}
.posterIcon i:last-child {
  margin: 0 0 0 8px;
  font-size: 14px;
  cursor: pointer;
}
.tvsContainer:nth-child(3n) .posterIcon i:last-child,
.tvsContainer:nth-child(1) .posterIcon i:last-child {
  color: red;
}
.posterIcon div,
.posterIcon i:first-child {
  color: #f7a501;
}

/* tv */
.bigTvContainer,
.bigMovieContainer {
  display: flex;
  flex-direction: column;
}
